  body {
    background: linear-gradient(to right, silver, white);
  }

  .roundedCorners {
      border-radius: 25px;
  }

  #headerText {
      font-size: 30px;
      color: purple;
      font-weight: bold;
      font-family: 'Lobster', cursive;
  }

  #upperRow {
      margin: 10px;
  }

  #skewedElement {
    position: relative;
    margin-top: -20px;
    background: linear-gradient(to right, purple, plum);
      transform: skewY(-5deg);
      height: 100px
  }

  .mainContainer {
      margin-top: 75px;
      background: linear-gradient(to right, purple, plum);
  }

  .dropdown {
      margin: 25px 0px 25px 25px;
  }

  .input-group {
      margin: 25px;
  }

  .contentHolder {
    background: linear-gradient(to right, purple, plum);
    width: 225px;
    border: black;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
  }

  .contentImg {
      margin: 10px;
  }

  .contentText {
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }